body {
    background: #0073cf;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}
p {
    color: #161F6D;
    font-family: 'RocknRoll One', sans-serif;
    text-transform: capitalize;
    cursor: default;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    height: 10em;
    background: #1A2238;
}
#library-logo {
    font-family: 'Quicksand', sans-serif;
    cursor:default;
    align-self: center;
    background: #0073cf;
    font-size: 20px;
    display: inline-block;
    font-size: 5em;
    text-align: center;
    margin: 0;
    color: #ffffff;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
#library-logo:hover {
    transform: scale(1.1);
}
#new-book {
    font-family: 'DotGothic16', sans-serif;
    margin-right: 2em;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
    color: #eeeeee;
    border: 1px solid #9DAAF2;
    border-radius: 30px;
    background-color: #202020;
    outline: none;
    transition: all 100ms ease-in-out;
}
#new-book:hover {
    color: #FF6A3D;
    transform: scale(1.1);
}

/* MAIN */
main {
    margin-left:auto;
    margin-right:auto;
    width: 85%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20em;
}

/* BOOK CARD */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    margin: 2em;
    width: 17em;
    height: 23em;
    background:  #ffffff;
    border-radius: 5px;
    align-self: center;
    transition: all 100ms ease-in-out;
}
.card:hover {
    transform: scale(1.01);
}

/* NEW BOOK FORM */
#new-book-form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    height: 25em;
    width: 25em;
    border: 1px solid #164A41;
    display: none;
}
#close-btn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    right: -35px;
    top: -35px;
    width: 29px;
    background:#B73225;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 0.7;
}
#close-btn:hover {
    opacity: 1;
}
label {
    margin-left: 20px;
    color: #161F6D;
    font-family: 'RocknRoll One', sans-serif;
    width: 30%;
    font-size: 2em;
}
input {
    font-size: 25px;
    width: 60%;
    height: 30px;
    outline: none;
}
#read-input {
    height: 30px;
    width: 30px;
    margin-right: 9em;
}
#submit-btn {

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 3em;
    cursor: pointer;
    outline: none;
    background-color: #1FC58E;
    transition: all 100ms ease-in-out;
    font-family: 'Quicksand', sans-serif;
    border: none;
}

#submit-btn:hover {
    transform: scale(1.1);
    opacity: 0.7;
}
.name {
    margin-top: 10px;
    font-size: 1.8em;
    font-weight: bold;
}

.card-btn {
    font-family: 'DotGothic16', sans-serif;
    color: #ffffff;
    cursor: pointer;
    align-self: center;
    width: 225px;
    height: 50px;
    outline: none;
    border: none;
    padding: 0;
    font-size: 20px;
    margin:0;
    padding: 0;
}
.card-btn:hover {
    font-size: 30px;
}
.read-status {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    transition: all 100ms ease-in-out;
}

.remove-btn {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color: #FF6A3D;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
